* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #f6f7fb;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background-color: white;
    border-bottom: 1px solid #e0e0e0;
}

.logo {
    font-size: 22px;
    font-weight: bold;
}

.heart {
    color: rgb(12, 12, 163);
}

.nav-links a {
    margin: 0 12px;
    text-decoration: none;
    color: #000;
    font-size: 14px;
}

.auth a {
    margin-right: 15px;
    text-decoration: none;
    color: #000;
}

.signup-btn {
    background-color: rgb(12, 12, 163)
    color: white;
    border: none;
    padding: 8px 14px;
    border-radius: 4px;
    cursor: pointer;
}

/* Main Section */
.container {
    text-align: center;
    margin-top: 120px;
}

.container h1 {
    font-size: 48px;
    margin-bottom: 15px;
}

.subtitle {
    font-size: 18px;
    color: #555;
    margin-bottom: 40px;
}

/* Upload Box */
.upload-box {
    background-color: #fff;
    padding: 40px;
    width: 420px;
    margin: 0 auto;
    border-radius: 10px;
}

.upload-btn {
    background-color: rgb(12, 12, 163);
    color: white;
    border: none;
    padding: 18px 40px;
    font-size: 18px;
    border-radius: 8px;
    cursor: pointer;
}

.drop-text {
    margin-top: 15px;
    color: #777;
    font-size: 14px;
}

#fileName {
    margin-top: 20px;
    font-size: 14px;
    color: #333;
}
